@CHARSET "utf-8";

*{
	margin: 0px;
	padding: 0px;
	
}

.content{
	margin: 20px auto;
	width:  800px;
	border: 1px solid #999;
	padding: 10px;
}

.content h1{
	color: red;
	text-align: center;
}

.content .row{
	margin-top: 10px;
}

.content .row span{
	display: inline-block;
	width: 255px;
	text-align: right;
}

.content .row input[type='text']{
	padding: 3px 5px;
}


.content .row input[type='submit']{
	padding: 3px 5px;
	display: block;
	margin: 0px auto 20px auto;
}


.content .row  p{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.content .result{
	margin-left: 50px;
}

.content .result img{
	width: 100px;
	height: 100px;
	overflow: hidden;
	float: left;
	border-radius: 50%;
	margin-right: 10px;

}

.content .result p{
	text-align: justify;
	font-size: 22px;
	height: 100px;
	line-height: 100px;
	
	
	
}

.content .result img span{
	font-style: italic;
	
	
}

