body{
    font-size:14px;
    font-family: arial;
    line-height: 23px;
   
}

#wrapper{
    width: 960px;
    margin: 0px auto;
}

#footer{
    background: #029ef3;
}


#header{
    text-align: center;
    position: relative;

}

#logo{
    font-size: 20px;
    display: inline-block;
    padding: 20px 10px;
    font-weight: bold;


}

#user-login{
    position: absolute;
    top: 2px;
    right: 10px;

}


ul#main-menu{
    text-align: center;
    background: #029ef3;
}

ul#main-menu li{
    display: inline-block;
}

ul#main-menu li a{
    padding: 8px 15px;
    color: #fff;
    display: block;
}

#content{
    min-height: 600px;
    padding: 2px 0px;
}

#footer{
    color: fff;
    text-align:center;
    padding: 8px 10px;
}



